log/**/*
tmp/**/*
.env
.env.test
/public/assets
/public/apply
/node_modules
/public/packs
/public/packs-test
/coverage
/.bundle
/.git
/spec
/.env.*
/.rspec*
/.rubocop*
/.ruby-version
/azure-pipelines.yml
/docker-compose*
/Dockerfile*
/Vagrantfile
yarn-error.log
/docker
/.idea
/sample_request_payload
