language: ruby
cache:
  bundler
  directories:
  - tmp/parallel_runtime_log
before_script:
  - bundle exec rake parallel:create parallel:migrate
script:
  - bundle exec rake parallel:spec
addons:
  chrome: stable
  firefox: latest
  postgresql: "9.3"
services:
  - postgresql