p.govuk-body = t('.someone_requested')
p.govuk-body = t('.not_be_changed')

p.govuk-body
  = link_to t('.reset'), edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale == :en ? nil : I18n.locale)

p.govuk-body = t('.didnt_request')