$highlight-colour: light-grey;
$grass-green: #85994b;
$yellow: #ffbf47;
$error-colour: red;
$text-colour: black;
$gutter: 30px;
$gutter-half: $gutter/2;



.flash {
  background-color:$highlight-colour;
  border-width:0 0 0 8px;
  border-style:solid;
  margin: 0;
  padding:$gutter 0;
  &.info {
    border-color:$grass-green;
  }
  &.notice {
    border-color:$yellow;
  }
  &.alert {
    border-color:$error-colour;
  }
  h2{
    color:$text-colour;
    margin:0;
    padding:0 $gutter-half;
  }
}