$light-blue-50: #929191;

.form-control {
    width: 100%
}

.button-return {
  background-color: #f3f2f1; /* Grey */
  border: 2px solid transparent;
  color: #0b0c0c!important;
  padding: 13px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  line-height: 0.83;
  margin-left: 15px;
  box-shadow: 0 2px 0 #929191;
  &:hover {
    // TODO: Use a better colour
    background-color: #dbdad9;
    color: #0b0c0c;
  }
  &:focus {
    background-color: #e7e7e7;
  }
}