.sidebar-header > h2 {
    border-bottom: 1px solid #bfc1c3;
}

.switch-language {
    border-bottom: 1px solid #dee0e2;
    padding: 0.25em 0;
    overflow: auto;
}

.switch-language > a {
    font-size: 0.85em;
    float: right;
}